footer {
    background-color: #ebedef;
    color: black;
    padding: 20px 0;
    margin-top: 60px;
}

.footer-column {
    text-align: left;
    
}

.footer-nav {
    gap: 1px;
    color: #1f4f7b;
    text-decoration: none;
}

.footer-link {
    padding: 0;
    margin: 2px 0;
    font-size: 14px;
    color: #fbfbfc;
    text-decoration: none;
}

footer h4 {
    font-size: 20px;
    font-style: Montserrat;
    margin-bottom: 10px;
    
}

footer p {
    margin: 0;
    opacity: 0.8;
}

footer strong {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer a {
    color: #1d1daa;
    text-decoration: none;
    font-size: 14px;

}

footer a:hover {
    color: #ffffffcc;
    transform: translateX(3px);
    transition: 0.2s ease;
}

img {
    width: 120px;
    height: 120px;;
}

.footer-nav .nav-link {
    margin: 1px;
}