footer {
    background-color: #6ec8bd7e;
    color: white;
    padding: 40px 0;
    margin-top: 40px;
}

footer h4 {
    font-size: 20px;
    font-style: Montserrat;
    margin-bottom: 10px;
}

footer p {
    margin: 0;
    opacity: 0.8;
}

footer strong {
    font-size: 16px;
    margin-bottom: 10px;
}

footer a {
    color: #ebedef;
    text-decoration: none;
    margin: 4px 0;
}

footer a:hover {
    color: #ffffffcc;
    transform: translateX(3px);
    transition: 0.2s ease;
}

footer .nav {
    gap: 5px;
}